*{
  
}

body {
  background-color: beige;
}
div.StaticBar {
  position: static;
  background-color: Chocolate;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
