*{
  
}

body {
}
div.StaticBar {
  position: static;
  background-color: BurlyWood;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
.Sources {
  font-size: 1.7em;
  text-align: center;
  background-color: Wheat;
  line-height: 25%;
}
.PageTitle {
  text-align: center;
  background-color: Wheat;
  line-height: 25%;
}
