*{
  
}

body {
  background-color: beige;
}
.topBar {
  position: fixed; 
  text-align: center;
}
h1 {
  
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
